:host {
  width: 100%;
}

.link-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
}

.link-img {
  display: flex;
  width: 100%;
  max-height: 50px;
}
