.form {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
  box-shadow: 2px 0 8px 0 rgba(0,0,0,0.54);
}

.main {
  display: flex;
  width: 70%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
}

.wrapper {
  display: flex;
  max-height: calc(100vh - 64px);
}

.colors {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.color-row {
  display: flex;
  height: 20px;
  margin-bottom: 5px;
  &-selected {
    border: 1px solid olivedrab;
  }

  .color-col {
    display: flex;
    flex: 1;
  }
}

.input {
  margin-right: 20px;
  margin-bottom: 10px;
}


