<div class="wrapper">
  <section class="menu">
    <form class="form" [formGroup]="form">
      <div>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Width</mat-label>
          <input matInput formControlName="width">
          <mat-error *ngIf="widthControl.hasError('max')">
            Max number is 3840
          </mat-error>
          <mat-error *ngIf="widthControl.hasError('min')">
            Min number is 50
          </mat-error>
          <mat-error *ngIf="widthControl.hasError('required')">
            Width required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Height</mat-label>
          <input matInput formControlName="height">
          <mat-error *ngIf="heightControl.hasError('max')">
            Max number is 3840
          </mat-error>
          <mat-error *ngIf="heightControl.hasError('min')">
            Min number is 50
          </mat-error>
          <mat-error *ngIf="heightControl.hasError('required')">
            Height required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        CELL SIZE
      </div>
      <mat-slider
        color="primary"
        formControlName="cellSizeFractional"
        tickInterval="10"
        step="0.01"
        min="0.02"
        max="0.25"
        (input)="onSliderChange($event, 'cellSizeFractional')"
      ></mat-slider>
      <div>
        TRIANGLE VARIANCE
      </div>
      <mat-slider
        (input)="onSliderChange($event, 'variance')"
        formControlName="variance"
        tickInterval="2"
        step="0.01"
        min="0"
        max="1"
      ></mat-slider>
      <div>
        PATTERN INTENSITY
      </div>
      <mat-slider
        color="primary"
        (input)="onSliderChange($event, 'interpolateLinear')"
        formControlName="interpolateLinear"
        tickInterval="2"
        step="0.01"
        min="0"
        max="1"
      ></mat-slider>
    </form>
    <div class="colors">
      <div
        *ngFor="let colorArray of colors"
        class="color-row"
        [class.color-row-selected]="isSelected(colorArray)"
        (click)="selectColorRow(colorArray)"
      >
        <div
          *ngFor="let color of colorArray"
          class="color-col"
          [style.backgroundColor]="color"
        ></div>
      </div>
    </div>
  </section>
  <section class="main">
    <app-canvas [options]="options$ | async"></app-canvas>
    <div class="file-name">
      <mat-form-field appearance="outline">
        <mat-label>Filename</mat-label>
        <input matInput [formControl]="fileName">
      </mat-form-field>
      <button (click)="uploadSVG()" mat-raised-button>
        SVG
      </button>
    </div>
  </section>
</div>
